@model MVCRazorDemo.Models.UserInfo 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Edit", "UseInfo", FormMethod.Post))
        {
         <span>编号:</span>
        @Model.UID
        @Html.HiddenFor(u=>u.UID);
        <br/>
        <span>姓名:</span>
        @Html.EditorFor(u => u.UName) 
        <br />
        <span>密码:</span>
        @Html.EditorFor(u => u.UPassWord)
        <br/>
        <input type="submit" vale="修改"/>
        }

    </div>
</body>
</html>
